<h1>Изменить группу</h1>
    <%= form_for @group do |f| %>
      <p>
        <label>Номер</label><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.submit "Изменить", {:class=>'btn waves-effect waves-light'} %>
      </p>
    <% end %>
