<div class="col l7 push-l2 s12">
  <ul class="collection with-header">
      <li class="collection-header"><h4>Группы</h4></li>
      <% @groups.each do |group| %>
        <li class="collection-item">
          <div>
            <%= group.name %>
            <%= link_to group_path(group), method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <b class="secondary-content">
                <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Удалить">delete_sweep</i>
              </b>
            <% end %>

            <%= link_to edit_group_path(group.id) do %>
              <b class="secondary-content">
                <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Изменить">edit</i>
              </b>
            <% end %>
          </div>
        </li>
      <% end %>
  </ul>
</div>
