<h3>Новая группа</h3>
<%= if @error != "" then @error else "" end%>
<%= form_for @group do |f| %>
  <p>
    <label>Номер</label><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Добавить", {:class=>'btn waves-effect waves-light'} %>
  </p>
<% end %>
