<h1>Изменить название расписания</h1>
    <%= form_for @table do |f| %>
      <p>
        <label>Название</label><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.submit "Изменить" %>
      </p>
    <% end %>
<%= @table.errors.full_messages %>
