<h1>РАСПИСАНИЯ ВСЕ ТУТ</h1>
<% @tables.each do |table| %>
  <p>
    <b><%= link_to "Расписание для "+ table[1], table_path(table[0].id) %></b>
    <%= link_to 'Изменить', edit_table_path(table[0].id) %>
    <%= link_to 'Удалить', table_path(table[0]), method: :delete, data: { confirm: 'Вы уверены?' } %>
  </p>
<% end %>
<br>
<%= link_to 'Добавить таблицу', new_table_path %>
