<div class="col l7 push-l2 s12">
  <div class="collection">
    <% @tables.each do |table| %>
      <%= link_to "Расписание для "+ table[1], table_path(table[0].id), class: 'collection-item' %>
    <% end %>
  </div>
</div>
