<h1>Новое расписание</h1>
    <%= form_for @table do |f| %>
      <p>
        <%= f.collection_select(:group_id, @groups, :id, :name) %>
      </p>
      <p>
        <%= f.submit "Добавить" %>
      </p>
    <% end %>
<%= @table.errors.full_messages %>
