<div class="col l7 push-l2 s12">
  <ul class="collection with-header">
      <li class="collection-header"><h4>Преподаватели</h4></li>
      <% @teachers.each do |teacher| %>
        <li class="collection-item">
          <div>
            <%= teacher.name %>
            <%= link_to teacher_path(teacher), method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <b class="secondary-content">
                <i class="material-icons">delete_sweep</i>
              </b>
            <% end %>
            <%= link_to edit_teacher_path(teacher.id) do %>
              <b class="secondary-content">
                <i class="material-icons">edit</i>
              </b>
            <% end %>
          </div>
        </li>
      <% end %>
  </ul>
</div>
